[SddmGreeterTheme]
Name=nixos-sddm
Description=nixos-sddm
Author=byraltis
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.1
Website=https://github.com/byraltis/nixos-sddm
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=nixos-sddm
Theme-API=2.0
QtVersion=6
